@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    font-family: "Inter", sans-serif;
}

.text-underline::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -10px;
    width: 100%;
    height: 8px;
    background-image: url("assets/underline.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: translateX(-50%);
  }

  